body
{
    max-width: 40em;
}
dt:hover
{
    color: red;
}
pre.example
{
    padding: 1em 1em 1em 1em;
    border: 1px solid black;
}
dl
{
	margin-top: 0;
	margin-bottom: 0;
}
dt
{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
dd
{
	margin-top: 0;
	margin-bottom: 0;
    display: none;
}
p.nospacing
{
	margin-top: 0;
	margin-bottom: 0;
}
div.example
{
	padding: 1em 1em 1em 1em;
	border: 1px solid black;
	font-style: italic;
}
div.letter
{
	padding-left: 2em;
    display: none;
	margin-top: 0;
	margin-bottom: 0;
}
p.see-also
{
	margin-top: 0;
	margin-bottom: 0;
    font-weight: bold;
}
p.letter-heading
{
	margin-top: 0;
	margin-bottom: 0;
    font-weight: bold;
    font-size: 110%;
}
