table.jt-norm
{
    border: 1px solid black;
    border-collapse:collapse;
    padding: .5em 0 .5em 0;
}
th.jt-norm
{
    border: 1px solid black;
    padding:0 .25em 0 .25em;
}
td.jt-norm
{
    border: 1px solid black;
    padding: 0 .25em 0 .25em;
}
td.jt-level0
{
    background-color: LightBlue;
    border: 1px solid black;
    padding: 0 .25em 0 .25em;
    font-style: italic;
}
td.jt-level1
{
    border: 1px solid black;
    padding: 0 .25em 0 .25em;
    padding-left: 2em;
}
div.jt-style1
{
    border: .25em solid black;
    padding: .5em .5em .5em .5em; 
    background-color: #EEE8AA;
}
