table.js-plain
{
	border-collapse: collapse; 
	border: .1em solid black; 
	max-width: 50em;
}

th.js-plain,td.js-plain
{
	border: .1em solid black;
	padding: .3em;
}

tr.js-empty
{
	background-color: #CCCCCC;
	height: 1em;
}
