dt
{
	margin-bottom: 0;
	font-weight: bold;
}
dd
{
	margin-top: 0;
}
p.nospacing
{
	margin-top: 0;
	margin-bottom: 0;
}
div.example
{
	padding: 1em 1em 1em 1em;
	border: 1px solid black;
	font-style: italic;
}